.loginForm {
  width: 700px;
  margin: 0 auto;
  margin-top: 200px;
}

.loginBtn {
  width: 100%;
}

.headerBrand {
  color: white;
  text-decoration: none;
  margin-left: 40px;
}

.username {
  color: white;
}

.btn-light,
.bg-light,
.badge-light,
.alert-light {
  background: var(--light-color);
  color: #333;
}

.round-img {
  border-radius: 50%;
}

.contactTxt {
  font-weight: bold;
}

.contact {
  margin-bottom: 20px;
}
